.redOff , .yellowOff , .greenOff{
    width: 100px;
    height: 100px;
    border-radius: 100%;

}

.redOff{
    background-color: red;
}

.yellowOff{
    background-color: yellow;
}

.greenOff{
    background-color: green;
}


.redOn, .yellowOn, .greenOn{
    box-shadow: 0px 0px 40px white;
}

.container-traffic{
    width: 10rem;
}
